# Archivos de estado de Terraform
*.tfstate
*.tfstate.*

# Archivos de bloqueo de estado
*.tfstate.lock.info

# Archivos de plan de Terraform
*.tfplan

# Directorio de caché de Terraform
.terraform/
terraform.tfstate

# Archivos de override
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Archivos de variables con posibles secretos
*.tfvars
*.tfvars.json

# Archivos de log
*.log